@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply mx-auto max-w-[78.5rem] px-5;
  }

  .mobile-menu-closed {
    transform: translateY(100dvh);
  }
  
  .mobile-menu-open {
    transform: translateY(0dvh);
    z-index: 9999;
  }
}

* {
  scroll-behavior: smooth;
}

svg {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}

.keen-slider__slide {
  height: 384px;
}

.keen-slider {
  overflow: visible !important;
}

@media (max-width: 500px) {
  .keen-slider__slide {
    height: 320px;
  }
}
