@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply mx-auto max-w-[78.5rem] px-5;
  }
}

* {
  scroll-behavior: smooth;
}

.keen-slider__slide {
  height: 384px;
}

.keen-slider {
  overflow: visible !important;
}

@media (max-width: 500px) {
  .keen-slider__slide {
    height: 320px;
  }
}
